<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pincodes</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="result-div">
       <% for(let i=0;i<pinArray.length;i++){ %>
            <div class="individual-box">
                <h2 class="city"><%=pinArray[i].Name%></h2>
                <h3 class="code"><%=pinArray[i].Pincode%></h3>
            </div>
       <% } %>
    </div>
</body>
</html>